@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans');
/* entrance page */


.container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.padding-bottom-100px {
  padding-bottom: 100px;
}

/* about page - main photos */

.carousel-item {
  height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-inner img {
  margin: auto;
}

.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 800;
  padding-left: 3px;
}

@media (max-width: 992px) {
  .navbar-nav.ml-auto {
    margin-left: -21px!important;
  }
}

@media (min-width: 992px) and (max-width: 1130px) {
  .navbar>.container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width:420px) {
  .navbar-brand {
    font-size: 25px;
  }
}


@media (max-width:370px) {
  .navbar-brand {
    font-size: 23px;
  }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right:0;
    }
}

.nav-item {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 20px;
}

.navbar {
  padding-bottom: 10px;
}

.navbar.none-scroll {
  margin-right: 17px;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.9);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu {
  margin-top: -15px;
  border-color: transparent;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.dropdown-menu.dropdown-menu-index {
  background-color: transparent;
}

.nav-link-dropdown {
  padding-top: 5;
  padding-bottom: 0;
}

@media (min-width:991px) {
  .navbar-dark .navbar-nav .nav-item .nav-link.nav-link-black {
    color: rgba(0, 0, 0, 0.5);
  }
  .navbar-dark .navbar-nav .nav-item .nav-link.nav-link-black:focus, .navbar-dark .navbar-nav .nav-item .nav-link.nav-link-black:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

/* about page - contents */

.container-carousel {
  padding-top: 15px;
  margin-top: 100px;
}

.icons img {
  border-radius: 2px;
}

.row-about {
  padding-top: 50px;
}

.about-title {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-top: -6px;
  letter-spacing: 0.5px;
}

.about-description {
  margin-top: 25px;
}

.about-contents a {
  color: black;
  text-decoration: none;
}

.about-contents a:hover {
  color: gray;
}

.about-contents {
  padding-bottom: 5px;
}

.about-contents, .work-contents {
  font-family: 'Open Sans', sans-serif;
}

.description {
  font-size: 16px;
  margin-top: 10px;
}

.row-head {
  padding-top: 100px;
}

.row-sub-top {
  margin-top: 20px;
}

.row-sub {
  margin-top: 40px;
}

.row-list-top {
  margin-top: 20px;
}

.bold-title {
  font-weight: 700;
  font-size: 18px;
}

.sub-title {
  font-size: 16px;
  font-weight: 700;
  color: gray;
  letter-spacing: 0.2px;
}

.list-bold {
  font-weight: 700;
}

.about-date {
  font-family: 'Open Sans', sans-serif;
  color: gray;
  line-height: 25px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: -5px;
  letter-spacing: -0.5px;
  font-size: 15px;
}

.about-date-row-change {
  display: inline;
}


.font-disapper {
  font-size: 15px;
}

.about-title .row-change-2 {
  display: inline-block;
}

.list-name-sub.bottom-space {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .about-title {
    font-size: 18px;
  }
  .about-date {
    text-align: right;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .list-name-sub {
    display: inline;
    margin-left: -7px;
  }
  .about-date-row-change {
    display: block;
  }
}

@media (min-width: 768px) {
  .about-description {
    margin-top: 3px;
  }
  .about-title .row-change-2 {
    display: inline-block;
  }
  .row-sub-top {
    margin-top: 1.5px;
  }
  .row-list-top {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .about-title {
    font-size: 25px;
    letter-spacing: 0.5px;
    line-height: 35px;
  }

  .font-disapper, .font-disapper-kor {
    font-size: 0px;
    margin-bottom: -15px;
  }
}


/* works page thumbnail box */

.work-bold-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0px;
}

.work-description {
  margin-top: 5px;
  font-size: 14px;
  color: rgb(76, 76, 76);
}

.work-contents-date {
  margin-bottom: 20px;
  font-size: 14px;
  color: gray;
}

.work-row-top {
  margin-top: 40px;
}

.work-row-sub {
  margin-top: 100px;
}

.modal-dialog {
  overflow-y: initial !important
}

.modal-body {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.modal-title {
  font-weight: bold;
  letter-spacing: -0.5;
}

.video-container {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed, iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.naver-tv {
  left: 0;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.2493%;
}

.img-fluid, .col-lg-6.text-with-img {
  margin-top: 20px;
  margin-bottom: 20px;
}


@media (min-width:768px) {

/* about page*/

  .col-md-3.about-contents {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
  }
  .col-md-9.about-contents {
    -ms-flex: 0 0 77%;
    flex: 0 0 77%;
    max-width: 77%;
  }

  .col-md-10.about-contents {
    -ms-flex: 0 0 77%;
    flex: 0 0 77%;
    max-width: 77%;
    padding-right: 50px;
  }

  .col-xl-2.about-date {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
  }

/*work page*/

  .col-md-8 {
    padding-left: 100px;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }

  .col-md-4 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
/*dsad*/
}


@media (min-width: 1200px) {
  .col-xl-2 {
      flex: 0 0 21%;
      max-width: 21%;
  }
}
@media (min-width: 992px){
  .img-col {
    padding-left:0;
  }
}
